.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #4e4d50;
}

.video-container {
  position: relative;
  width: 50%;
  margin: auto;
  margin-top: 2rem;
}

/* Video */

.video {
  width: 100%;
  height: 100%;
}

/* Controls */

.controlsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-color: transparent;
  margin-top: -50vw;
  padding: 0 40px;
  z-index: 20;
}

.controls {
  display: flex;
  align-items: center;
  position: absolute;
  top: 42%;
  left: 22%;
}

.controlsIcon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 50;
  background: #fff;
  border-radius: 50%;
}

.controlsIcon--small {
  width: 32px;
  height: 32px;
  cursor: pointer;
  margin-left: 10rem;
  margin-right: 10rem;
  z-index: 50;
}

/* The time controls section */

.timecontrols {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  bottom: 3rem;
  position: relative;
  margin: 0 1rem;
}

.time_progressbarContainer {
  background-color: gray;
  border-radius: 15px;
  width: 75vw;
  height: 5px;
  z-index: 30;
  position: relative;
  margin: 0 20px;
}

.time_progressBar {
  border-radius: 15px;
  background-color: indigo;
  height: 100%;
}

.controlsTime {
  color: white;
}